.excel-table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 2px;
  font-size: 0.8rem;

  &__row {
    display: flex;
    flex-direction: row;
    height: $row-heeight;
    min-height: 20px;

    &-info {
      @include row-and-column;

      position: relative;
      height: 100%;
      min-width: $info-cell-width;
      user-select: none;
    }

    &-data {
      display: flex;
    }

    &-resize {
      @include resize(row-resize);

      left: 0;
      height: $resizer-size;

      &:active {
        right: -5000px;
      }
    }
  }

  &__column {
    @include row-and-column;

    position: relative;
    border-left: none;
    width: $cell-width;
    height: 100%;
    min-width: 40px;
    user-select: none;

    &-resize {
      @include resize(col-resize);

      top: 0;
      width: $resizer-size;

      &:active {
        bottom: -5000px;
      }
    }
  }

  &__cell {
    outline: none;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    min-width: 40px;
    white-space: nowrap;
    color: #111;

    &_selected {
      z-index: 2;
      outline: 2px solid $primary-color;
      border: none;
    }
  }
}
