@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'sanitize.css';
@import './variables';
@import './mixins';
@import './header';
@import './toolbar';
@import './formula';
@import './table';
@import './dashboard';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  height: 100%;
  max-width: 100%;
  color: #888;
}
